.radio {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  
  &__button {
    margin: 0;
    float: left;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: white;
    margin-left: 5px;
    padding: 3px 10px;

    &__text {
      border-bottom: 1px dotted;      
    }
    
    &:hover &__text {
      border: none;
    }
    
    
    &.active {
      background: white;
      color: #333;
      border-radius: 3px;

      .radio__button__text {
        border: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }

  }
}